@{
    ViewBag.Title = "About";
}

<link href="~/css/About.css" rel="stylesheet" />
<link href="../netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1> <span>Şehrimi Tanı  </span>Hakkında</h1>
                    <h3>Öğrenci üniversite etkileşim platformu </h3>
                    
                    <p>Üniversiteyi ilk defa kazanan öğrenciler şehri tanıma ve üniversite hakkında tüm bilgileri elde ederek kolaylıkla ilk defa geireceği bir ortama alışmış olacaktır.
                        Burada üniversite ve şehir bilgileri yorumlar bulunmaktadır.
                        Sizleri de aramazda görmekten mutluluk duyarız.
                    </p>
                    <div class="about-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/onder19970"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                            <li><a href="https://twitter.com/ondersahiinn"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                            <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                            <li> <a href="mailto:ondershin@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                        </ul>





                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>