<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9 mb-4">
            <div class="col-md-6 pr-md-5 flex-column">
                <div class="row d-block flex-row">
                    <h2 class="h4 mb-4">İletişim Bilgileri</h2>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Address:</span> 4708 sokak No:55 Kat:1 Günaltay Mahallesi Karabağlar/İZMİR</p>
                        </div>
                    </div>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Telefon:</span> <a href="tel://5548384350">5548384350</a></p>
                        </div>
                    </div>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Email:</span> <a href="mailto:ondershin@gmail.com">ondershin@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Website</span> <a href="#">sehrimitani.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adınız">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mail Adresiniz">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Konu">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Mesaj Gönder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12" id=""><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3127.7235919955!2d27.114125814824106!3d38.378515279654025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbdedd6a52aac9%3A0x55f4201df7484861!2sG%C3%BCnaltay+Mahallesi%2C+4708.+Sk.+No%3A55%2C+35130+Karaba%C4%9Flar%2F%C4%B0zmir!5e0!3m2!1str!2str!4v1545201782272" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        </div>
    </div>
</section>