
@{
    ViewBag.Title = "GenelBakis";
}
@{
    ViewBag.Title = "About";
}

<link href="~/css/About.css" rel="stylesheet" />
<link href="../netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1> Sizi Neler Bekliyor</h1>
                    <h3>Öğrenci üniversite etkileşim platformu </h3>

                    <p>
                        Üniversite öyle bir ortam ki dışarıdan gelip bir anda adapte olmak gerçekten zor. Başlı başına bir dram olan "Liseli" olmaktan "Üniversiteli" bireye geçiş yapmak, tırtılın kelebeğe dönüşmesi kadar hayretler uyandırıcı bir süreçtir. Bu süreçte telef olması muhtemel, Üniversiteye yeni başlayacak ve ne yapacağı konusunda panik yaşayan genç okurlarımıza hayat kurtaracak 15 tavsiyeden oluşan bir liste hazırladık.
                        <br />
                        <hr />
                        1. Das Kapital



                        En azından bir kez Das Kapital'i okumuş olarak Üniversiteye gitmeniz, "Yok o filmi izlemedim." gibi sizi daha ilk günden yerin dibine sokacak cevaplar vermenize engel olacaktır. Sanki lise
                        hayatınız boyunca Üniversite sınavına değil de ekonomi devrimine hazırlanmışsınız izlenimi yaratmak, ilginç bir şekilde Üniversite hayatınızda hanenize artı puan kazandıracaktır.
                        <br />
                        <hr />
                        2. Erasmus


                        Erasmus nedir ne değildir bir an önce öğrenin bilgi edinin. Nimetlerinden faydalanan arkadaşların Üniversite hayatlarında depoladıkları özgüvenle emekliliklerine kadar idare ettikleri bilinmekte ve görülmektedir.
                        <br />
                        <hr />
                        3. Eylemcilik


                        Üniversite hayatına atılmadan en azından senkronize bir şekilde slogan atabiliyor olmanız ummadığınız bir anda patlak veren öğrenci eylemlerinde gariban kalmamanızı sağlayacaktır. "Ben eyleme katılmam" demeyin yeri gelir sosyal haklarınızı savunmak zorunda kalırsınız, tutup da Liseli gibi yetkililere "Çıkışa gel çıkışa" diyemezsiniz. Eylem kültürüne şimdiden alışın.
                        <br />
                        <hr />
                        4. Fotokopici


                        Fotokopici öğrencilik hayatınız boyunca sırtınızı dayayacağınız önemli bir şahsiyettir. İyi bir fotokopici size en az 5 vize 4 final kazandıracak kadar yeterli donanımı sağlayacaktır. Üniversite fotokopicisi modern zamanların İskenderiye Kütüphanesi gibidir. Derslere girmeden sırf fotokopicide zaman geçiren bir öğrencinin en kötü ihtimalle orta bir dereceyle Üniversite'den mezun olması pekala mümkündür. Zilyon tane inek öğrencinin kaleminden süzülmüş eşsiz bir bilgi tapınağıdır fotokopici. Ne yapın edin fotokopiciyle aranızı sıcak tutun.
                        <br />
                        <hr />
                        5. Hoca notu



                        Lisedeki gibi kanaat notuymuş, sözlüymüş, performans notuymuş gibi not toparlayan etkenleri unutun. Üniversite hocaları not verme konusunda akıl sınırlarınızı zorlayan bir cimrilik sergileyeceklerdir. Bu sebeple yüksek not beklentilerinizi Liseli hayatınızda bırakmanız, boş yere sinir harbi yaşamamanız için faydalı olacaktır.
                        <br />
                        <hr />
                        6. İnek arkadaş



                        Lise hayatınız boyunca ezdiğiniz, itip kaktığınız inek öğrenciler Üniversite hayatınızda sizin için birer can simidi olacaktır. İnek öğrencilerin bir çoğuyla sıkı bağlar kurmanız, final haftalarında sizi kuş gibi hafifletecektir. Hatta çıkar amaçlı inek bir öğrenciyle aşk yaşamanız da göze almaya hazır olmanız gerekebilir.

                        <br />
                        <hr />
                        7. Part time iş



                        Üniversiteden mezun olan bir çok kişinin ortak serzenişidir "Ulan keşke okurken başlasaymışız çalışmaya..." cümlesi. Siz de bu pişmanlığa ortak olmamak için okurken kendinize iş bakıp mümkün olduğunca staj yapıp, part time iş tecrübeleri edinin ki mezun olduğunuzda kendinizi amele pazarında hissetmeyin. Mezun olduğunuzda bir çok iş yeri "27 yaşını aşmamış 10 yıllık iş tecrübesi olan..." gibi saçma iş ilanlarıyla ruh sağlığınızı bozacaktır. Bunlara hazırlıklı olmakta fayda var.
                        <br />
                        <hr />
                        8. Kantin



                        Kantin bir okulun senatosu, meclisi, parlamentosu herşeyidir. Kantinde sık sık zaman geçirin, her şeyden haberdar olursunuz. Beğendiğiniz çocuk hangi kızla fingirdemiş, derste kestiğiniz kız boşta mıymış falan ne kadar sosyal hayatınıza yön verecek bilgi varsa kantin ortamından edinebilirsiniz. Öğrencilik hayatı boyunca kantinde dirsek çürütmemiş bir Üniversiteli her zaman bir adım geride olacaktır.
                        <br />
                        <hr />
                        9. Beyler dikkat



                        Makina Mühendisliği gibi bir bölümde okuyorsanız ilk gördüğünüz kıza hemen aşık olun, duygularınızı açın ve mümkünse hemen o anda tavlayın. Çünkü muhtemelen öğrencilik hayatınız boyunca okulda görebileceğiniz son kız da o kız olacaktır. Koskoca okulda erkek başına 0.02 kız düşüyorken, arz talep dengesinin kurbanı olmadan ilk görüşte aşka teslim edin kendinizi, sonra başınızı taşlara vurmayın.
                        <br />
                        <hr />
                        10. Hanımlar dikkat



                        Hangi bölümde okuyorsanız okuyun sürü halinde dolanan erkeklere yüz vermeyin. Sonuçta bu çocuklar daha düne kadar lise bahçesinde volta atan atarlı çocuklar değil miydi? Şimdi Üniversiteli oldular diye bir anda dünyaları değişmiş olamaz. Size bakıp "Üf kanka kızı kes!" gibi tepkimeler yaşayan bir güruha malzeme olmayın, kendi halinde tek tabanca takılan olgun çocuklara yelken açın. Ha gönül bu ota da konar tezeğe de, olur da kaptırırsanız gönlünüzü bilin ki üç aya kalmaz o çocukların öğrenci evini temizlerken bulursunuz kendinizi.
                        <br />
                        <hr />
                        11. Finalleri sağlama bağlamak için



                        Şu güne kadar elleriniz göğe yükselmemiş, dilinizin ucuna iki satır dua gelmemiş olabilir. Merak etmeyin final haftaları sizi hasret kaldığınız ibadetlerinize kavuşturacaktır. En gözü kara ateistleri bile imana getiren finallere hazırlanırken ihtiyacınız olacak dini donanımı şimdiden kenarda köşede bulundurmanızı tavsiye ediyoruz. Ondan sonra vizesinden çaktığınız dersin finalinden önceki gece yana yakıla Google'dan sınav duası aramayın.
                        <br />
                        <hr />
                        12. Pratik çözümler



                        Üniversite hayatınızda belki öğrenci evinde kalacaksınız, belki de sık sık öğrenci evlerine konuk olacaksınız. Öğrenci evi denilen ortama ayak uydurmak için hayatı kolaylaştıran pratik çözümlerinizin olması hayati önem taşımaktadır. Tava olmadan yumurta pişirme konusunda verdiğimiz ipucu, bu konuda ufkunuzu açacaktır.
                        <br />
                        <hr />
                        13. Mucitlik



                        Öğrenci evlerinde sadece pratik çözümler bazen yeterli olmayabilir. Bu gibi durumlarda da kıvrak zekanızla "Olmayanı oldururuz" düsturuyla hareket ederek imkansızı başarma konusunda istekli olmanız gerekecektir. Çünkü öğrenci evlerinde ihtiyaçlar ve imkansızlıkların sonu yoktur. Önemli olan imkansızlıklar içerisinde ihtiyaçları karşılayabilecek icatları hayata geçirebilmektir. Sıcak su sorununu çözme konusunda size ilham verecek ipucu sizlere ibret olsun.
                        <br />
                        <hr />
                        14. Öğrenci işleri


                        Öğrenci işleri erken yaşta bürokrasiyle tanışacağınız önemli bir yerdir. Bu sebeple öğrenci işleri ile sıcak ilişkiler kurmanız, okuldaki gerekli işlemlerinizin yapılırken, maaş kuyruğunda ölen emeklilere benzemenizi engelleycektir. Öğrenci işlerindeki abiyi ya da ablayı kafaya almış bir Üniversiteli bitirme tezini vermiş kadar diplomasına yaklaşmış demektir. Aman öğrenci işlerine atar gider yapmayın, ömür biter okul bitmez yoksa.
                        <br />
                        <hr />
                        15. Öğrenci kulüpleri


                        Okuldaki ilk yıllarınızda heves edip de katıldığınız öğrenci kulüplerinden sosyal hayatınıza bir şeyler kazandırmasını beklemeyin. Erkekseniz gereksiz bir yetenek ve ego savaşının içinde bulursunuz kendinizi. Bayansanız da sürekli birilerinin size sulanmasıyla sonuçlanan bir döngünün içine hapsolursunuz. Müzikmiş, fotoğrafçılıkmış, dansmış kanmayın bu kulüplere. Başınıza iş almayın durduk yere.
                    </p>
                   
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

