@using SehrimiTani.Entities
@model List<Gezilecekyer>
@{
    ViewBag.Title = "GezilecekYerler";
}


<section class="ftco-section">
    <div class="container-fluid">

        <div class="row no-gutters" style="margin-left:200px;margin-top:-90px; ">
            @foreach (Gezilecekyer gezilecekyer in Model)
            {
                <div class="col-md-6 col-lg-3 ftco-animate" style="margin-right:10px;margin-left:20px;margin-bottom:10px;">
                   
                    <div class="text">
                        @if (gezilecekyer.Id == 1)
                        {
                            <a href="/Home/GezilecekyerList" class="block-5" style="background-image: url('/images/Harput-Kalesi.jpg');"></a>
                        }
                        @if (gezilecekyer.Id == 2)
                        {
                            <a href="/Home/GezilecekyerList" class="block-5" style="background-image: url('/images/Elazig-hazarbaba-dagi.jpg');"></a>
                        }
                        @if (gezilecekyer.Id == 3)
                        {
                            <a href="/Home/GezilecekyerList" class="block-5" style="background-image: url('/images/hazar-golu.jpg');"></a>
                        }
                        @if (gezilecekyer.Id == 4)
                        {
                            <a href="/Home/GezilecekyerList" class="block-5" style="background-image: url('/images/hoca-hasan-hamami.jpg');"></a>
                        }
                        @if (gezilecekyer.Id == 5)
                        {
                            <a href="/Home/GezilecekyerList" class="block-5" style="background-image: url('/images/elazig-ulu-cami.jpg');"></a>
                        }
                        @if (gezilecekyer.Id == 6)
                        {
                            <a href="/Home/GezilecekyerList" class="block-5" style="background-image: url('/images/elazig-sori-selalesi.jpg');"></a>
                        }
                        @if (gezilecekyer.Id == 7)
                        {
                            <a href="/Home/GezilecekyerList" class="block-5" style="background-image: url('/images/keban-baraji-elazig.jpg');"></a>
                        }

                        <h3 class="heading">@gezilecekyer.Baslik</h3>

                        <div class="post-meta">
                            <span>

                                @gezilecekyer.ModifiedOn.ToString("dd.MM.yy HH:mm")

                            </span>
                        </div>
                        <p class="star-rate">
                            <span class="icon-star">
                            </span><span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span><span class="icon-star-half-full"></span>Yorumlar<span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                 
                </div>

            }

        </div>
     
    </div>
</section>




