
@{
    ViewBag.Title = "GeziZamani";
}

<link href="~/css/About.css" rel="stylesheet" />
<link href="../netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1> Kendini Geliştir</h1>
                    <h3>8 Harika Yol </h3>

                    <p>
                        Şunu bi kabul edelim; bir insanın geçireceği ya da geçirdiği en güzel yıllar, üniversite yıllarıdır. En çok seyahat, sınırsız eğlence, minimum parayla maksimum yaşamak gibi…



                        Üniversitede yapılması gerekenler önemlidir, atlamamak gerekir. 🙂

                        Ev partileri vermek ya da ev partilerine dahil olmak
                        ev-partileri-vermek-ya-da-ev-partilerine-dahil olmak-listelist
                        Gece kulüpleri, barlar gibi mekânlarda da, en az 25 TL’ye giriş olan partilerde de hep bi gereksiz kasmalar, rezil olmama çabaları, “aaa o kokteyli ben de seviyorum ama bira içiyim” gibi şeyler.

                        Bunların yanında herkesin samimi olduğu, tanıdığın tanımadığın insanlarla sıcak sohbetlerin döndüğü bira partileri.



                        <br />
                        <hr />
                        <h6>Parkta yada bankta olmadı, sokakta sabahlamak</h6>
                        parkta-ya-da-bankkta-olmadi-sokakta-yatmak-listelist
                        Sevdiğiniz arkadaşlarınızla beraber ya da tek başınıza ve depresif biriyseniz, Eskişehir’deyseniz Porsuk’ta, İzmir’deyseniz Kordon’da, İstanbul’daysanız Boğaz’da vs. sabahlamak satırlarla anlatılamaz; onun için geçiyoruz, yaşayarak anlayın.

                        <br />
                        <hr />
                        <h6>Ee, tabii eğitim önemli</h6>
                        egitim-onemli-listelist
                        Eğitim konusunda genç nüfusla hem fikiriz kısırlaştırılan dönem konusunda. Teorik dersleri de boş verin. Bir sürü öğrenci kulübüne katılın da demiyoruz; sadece 1 yahut 2 kulüp ile tam aktif olmak, size iş hayatınızda, gelecekteki yaşamınızda çok büyük faydası olacaktır. Hobilerinize göre ilginizi çeken öğrenci kulüplerine hemen üye olun. Tabii öyle kağıt üzerinde kalmasın, en ucuz aktivite budur.


                        <br />
                        <hr />
                        <h6>Çok gezen mi, çok okuyan mı?</h6>
                        cok-gezen-mi-cok-okuyan-mi-listelist
                        Bizce çok gezen abi 🙂 Hem eğleniyoruz, hem farklı kültürlerle tanışıyoruz, ekstrası öğreniyoruz. Yurt içi güzel de, bir de Avrupa’sı var bunun. Yurt dışına çıkmak, ailene “Kitap alıcam baba, para ver.” diyerek gezmek müthiş bir şey. Kesinlikle uçun.



                        <br />
                        <hr />
                        <h6>Part-time iş</h6>
                        part-time-is-listelist
                        Bir barda çalışmak bizce en iyisidir. Hem para kazanıyorsun, ara ara çalışarak hem de çevre yapıyorsun. Mekânda tanıştığın insanlar, gelen müşterilerle samimi ilişkiler; hepsi güzel. Ee ekmek parası, çalışmak lazım.

                        Devletin öğrenciye tek büyük faydası: E-ras-mus
                        devletin-ogrenciye-tek-buyuk-faydasi-erasmus-listelist
                        Sizin de bildiğiniz gibi birazcık ortalamayı yüksek tutup mülakatta iyi İngilizce konuşarak, yurt dışında 6 ay ya da 1 sene okumak; bizce üniversitenin en büyük avantajı, güzelliği budur. Farklı ülkelerde farklı biralar denemek, Venedik’te kayığa binmek (zaten taksiye istesen de binemiyorsun ama neyse)… Avrupa’da ülkeler arasında gezmek zaten ucuz. Ailene Lisbon’dan kart atmak, her şehirden magnet almak, -iyi zamanlama yapıp planlı gidersen- sevdiğin yabancı ünlülerin konserine gitmek. Poznan’da 1 hafta kalmak, Madrid’te El Clasico yakalamak ya da bayanlar için Paris Moda Haftası’nı yakalamak. Ee tabi “1 dil=1 insan” diyerek dili en iyi öğrenme şeklidir yurt dışında yaşamak.

                        <br />
                        <hr />
                        <h6>Work & Travel</h6>
                        work-and-travel-listelist
                        Açıkçası, Amerika’ya gitmenin en kek yolu diyelim. Ülkemizdeki sektörlerin hepsinden yaklaşık olarak 4-5 sene önde olan Amerika’da yaz tatilinde 2-3 ay kalmaktan daha müthiş bir şey olamaz. Hem iş hayatında hem yaşama bakışında çok şey katacaktır diye düşünüyoruz; tabii kişiye göre değişir.

                        <br />
                        <hr />
                        <h6>Ucuza kapatma</h6>
                        ucuza-kapatma-listelist
                        Kabul edelim, en fakir dönemde dışarıda eğlenmek çok zordur. Hafta içi mekânlardaki kampanyalarla çok ucuza kaliteli ortam yaşayabilirsiniz. Gerçekten hem insanın üniversite dönemindeki dışarı çıkma isteğini karşılıyor hem de hesaplı oluyor. Kampanyalı içecekleri kaçırmayın deriz.





                        <br />
                        <hr />
                        <h6> Üniversitenin kelepir imkânları</h6>
                        universitenin-kelepir-imkanlari-listelist
                        Yemek, sinema, tiyatro, konser vs. bunların hepsi üniversite içinde gerçekten çok ucuz. Tiyatro kulübünün etkinliği 4 TL, sinema biletleri 3 TL, yemekhanedeki yemekler 1-1,5 TL, fitness salonu aylık 30-40 TL, kapalı yüzme havuzu, halı saha, daha nice nice niceleri…

                        <br />
                        <hr />
                        <h6>En en en kârlısı bu</h6>
                        en-karlisi-bu-listelist
                        Öz güveni çok yüksek olmayan arkadaşlar ya da “o çocuk bana bakmaz” diyenler, “Offf, nasıl tanışıcaz yhaa” diyen sitemkârlar; not isteyin. “Ya şey, not tutuyosan ben dersleri kaçırdım, sen yardımcı olsana.” diyerek başlayabilirsiniz, yüzde yüz olumlu olmayabilir ama bizce denemeye değer.

                        <br />
                        <hr />
                        <h6>Yaz stajı</h6>
                        yaz-staji
                        Yapılan seminerlere katılarak gelen kafa avcılarının karşısında kendinizi göstererek ufak bir farkındalıkla gerçekten iyi şirketlerde yaz stajı yakalayabilirsiniz, ki bu sizin için müthiş bir şeydir. Gelecekte gireceğiniz işte haddinden fazla faydası olacaktır.

                        <br />
                        <hr />
                        <h6>Blog tutmak</h6>
                        blog-tutmak-listelist
                        Özellikle yaz mevsiminde (daha çok boş vaktiniz olur diye), boş vakitlerinizde yazın; şiir yazın, günlük yazın, gündem hakkında yazın ya da çiçek böcek yazın, kendi bloğunuzu tasarlayın. Kötü olsun ama kendiniz yapın; faydasını göreceksiniz.



                        <br />
                        <hr />
                        <h6>Film izlemek</h6>
                        film-izlemek-listelist
                        Korsana biz de karşıyız ama her filme 20 lira verebilecek kadar zengin değildik öğrenciyken. İnternet üzerinden ya da cd alarak falan, yani bin bir türlü yolla film izleyebilirsiniz. Gerçekten insan hayatına yön veren, bilmediğiniz bir şeyleri uyandıran filmler var. Kötü deneyimler de var ama 2 saatlik filmle çok şey kaybetmezsiniz. Boş boş oturduğunuz nice 2 saatler var.

                        Fotoğraf çekmek önemli ama sadece selfie değil
                        fotograf-cekmek-onemli-ama-sadece-selfie-degil-listelist
                        İnsanın bir daha geri gelmeyecek o güzel anıları fotoğrafla somutlaması mükemmel bir icattır. Telefonunuzdan fotoğraf çekmeyin. Güzel dostlukların olduğu, belki hayatınızda bir kere gidebileceğiniz bir yerde bir fotoğrafı, analog makine ile ya da daha da iyisi paleografik makineyle çekmek güzeldir. Dijital fotoğraf makinelerindeki fotoğraflar “ya bir gün çıkartırım toplu hâlde” diye bilgisayara atılıyor; sonra bilgisayar bom, hepsi püf…
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

