
@{
    ViewBag.Title = "KendiniGelistir";
}

<link href="~/css/About.css" rel="stylesheet" />
<link href="../netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1> Kendini Geliştir</h1>
                    <h3>8 Harika Yol </h3>

                    <p>
                        Sınav maratonu bitti. Artık o ders çalışmasak bile kitap okuyamadığımız, film izlemediğimiz, rahatça gezip tozamadığımız, tüm bunları yaparken vicdan azabı duyduğumuz zamanları geride bıraktık.  Kendimize ayırabileceğimiz vakte fazlasıyla sahibiz. Peki bu zamanla ne yapacağız? Yan gelip yatmak? Olası ama sizce de hayat yan gelip yatmak için fazlasıyla kısa değil mi? Üşengeçliği bırak arkadaşım ve kendin için bir şeyler yap! Büyüt kendini! Peki nasıl mı? İşte sana kendini geliştirmenin 8 yolu!


                        <br />
                        <hr />
                        1) Hadi, biraz gezmeye ne dersin?


                        Dünya 510.100.000 km² ve Türkiye'de ortalama insan ömrü 75 sene. Keşfedilecek çok yer; bunun için harcayabileceğimiz az bir zamanımız var. Tamam, gerçekçi olalım. 510.100.000 km²'nin hepsini gezebilecek değiliz ama birçok yerini gezebiliriz. Ne kadar yer gezersek o kadar kültürle karşılaşır, o kadar farklı yaşam tarzı görürüz. Tabi şu an "Öğrenciyiz biz. Para yok. Nasıl gezeceğiz?" diyor olabilirsiniz. Hakkınız var ama birkaç hileyle bunu halledebiliriz. Mesela Erasmus kesinlikle aklınızda olsun. Hem diliniz için hem Avrupa’yı gezmek için harika bir fırsat. Onun haricinde, şehir dışında  okuyan arkadaşlarınızı ziyarete gidebilirsiniz. Çoğu bir süre sonra kendi evine çıkmaya karar verecektir. Onların yanına giderek kalacak yer masrafını sıfıra indirebilirsiniz!

                        <br />
                        <hr />

                        2) Farklı insanlarla tanış ve onları keşfet!


                        Tanışacağınız her bir kişi size yeni bir kültür, yeni bir bakış açısı katacaktır. Size bir şeyler kazandıracak insanlarla tanışın. Çekingenliği, utangaçlığı bırakın. Eğer gerçekten çekingen biriyseniz bunun üstüne gidin. Birileriyle muhabbet kurmaya çalışın. Bunu bir soru sorarak başlatabilirsiniz. Emin olun muhabbet kendiliğinden gelişecektir. Tabii ki çabanızı esirgemeyin.

                        <br />
                        <hr />
                        3) Denemekten zarar çıkmaz!


                        Sürekli yeni bir şeyler deneyin. Yeni bir yemek veya içecek tadın. Daha önce yapmadığınız bir yemek yapın. Yeni bir kursa yazılın. Yeni bir hobi edinin. Bilmediğiniz bir dans öğrenin. Kendinizi her geçen gün yeniden keşfedin! Kendinize dair her gün yeni bir özellik öğrenin. Emin olun "Vay be! Ben neymişim!" diyeceksiniz.

                        <br />
                        <hr />
                        4) Bıkmadan tartışın, sakın pes etmeyin!


                        Arkadaşlarınızla konuşun. Dedikoduları kast etmiyorum. Bir konu hakkında görüşlerinizi paylaşın. Karşıt görüşteki arkadaşlarınızı anlamaya çalışın, kendinizi ona anlatmaya çalışın. Onlara hak vermeseniz bile onları anlayın. Yeni bakış açıları edinin. Bu sizi çok yönlü düşünmeye itecektir. Kızlı erkekli tartışın. Karşı cinsinde düşüncelerini göz önünde bulundurup kendi düşüncelerinizi onlara açın. Tek taraflı olmayın.

                        <br />
                        <hr />
                        5) Kitaplarınız elinizden düşmesin!


                        Gazete okuyun, dergi okuyun, roman okuyun, şiir okuyun, makale okuyun, hikaye okuyun. Yeter ki bir şeyler okuyun. Okumak sizi rahatlatır, anlama ve kendinizi ifade edebilme kabiliyetinizi geliştirir, genel kültürünüzü geliştirir. Eğer kitap okuma alışkanlığınız yoksa ve bu alışkanlığı edinmek istiyorsanız önce kısa hikayelerle başlayabilirsiniz. Daha sonra kitabın kalınlığını arttırarak ilerlersiniz.

                        <br />
                        <hr />
                        6) İzlemek için beklemeyin!


                        Eğer bir film kültürünüz yoksa derhal edinin! İşe IMDB 250 listesindeki filmleri izleyerek başlayabilirsiniz. Bütün film türlerinin en iyilerini barındıran bu liste film vizyonumuzu önemli ölçüde geliştirecektir.


                        <br />
                        <hr />
                        7) Sonuna kadar öğrenin!


                        Yeni bir dil öğrenin.  "Bir lisan bir insan, İki lisan iki insan" diye boşuna dememişler. İngilizcenin yabancı dilden sayılmadığı günümüzde ne kadar dil öğrenebilirsek kârdır. Öğrencilik döneminde en azından İngilizceyi halledin.

                        <br />
                        <hr />

                        8) Unutmadan, kendinize çok iyi bakın!


                        Son olarak kendinize bakın, özen gösterin. Hem fiziksel hem ruhsal olarak. Spor yapın, sağlıklı beslenin. Tabii ki dağıttınız zamanlarda olacak. Sonuna kadar dağıtın, eğlenin ama sonrasında kendi düzeninize geri dönün. Sağlığınıza dikkat edin. Diğer taraftan, psikolojik olarak da kendinizi yıpratmayın. O an sizi kahreden şey zaman geçtikçe eski bir anıya dönüşecek. Size bir anlam vermeyecek. "Ne kadar aptalmışım. Kendimi ne kadar üzmüşüm saçma sapan şeyler için." diyeceksiniz. O yüzden kendinizi her şey için üzmeyin. Önce bir sorun "Bunun için üzülmeye değer mi?". Gelecek yaşlarınıza yıpranmamış, dinç bir ruh saklayın.



                        Hayatta güzel anılar biriktirin. Gezin, konuşun, keşfedin. Kendinizi her daim geliştirin. Bu yıllarda yapacağınız her şey gelecekteki sizi şekillendirecek. Güzel hayatlar her zaman kısa olur. Onu dolu dolu yaşayabilmeniz dileğiyle!
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

