
@{
    ViewBag.Title = "SehreBakis";
}

    <link href="~/css/About.css" rel="stylesheet" />
    <link href="../netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="../netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="../code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">

                        <h1> Şehirler Hakkında</h1>
                        <h3>En Çok Tercih Edilen Şehirler </h3>

                        <p>
                            Türkiyede öğrencilerin en çok tercih ettiği şehirlere baktığımızda özellikle sosyal ve kültürel olanakları en fazla olanlar öne çıkıyor. Üniversite sayısımız 180'i ulaştı. Bunların büyük bir kısmı İstanbul, Ankara, İzmir gibi büyük şehirlerde toplanıyor. Dolayısıyla bu şehirler öğrenci tercihlerinde de ilk üçte yer alıyor. Ancak Eskişehir, Çanakkale, Bursa, Antalya gibi öğrenciler açısından yaşamın kolay olduğu şehirler de tercihlerde öne çıkıyor. Bunların yanı sıra son yıllarda üniversite ve öğrenci sayısı artan Kayseri de geniş iş imkanları sayesinde 'öğrenci kentleri' arasında dikkat çekiyor.
                            <br />
                            <hr />
                            EN GÖZDE 8 ÖĞRENCİ ŞEHRİ
                            En büyük sorun barınmada yaşanıyor. Gençlerin en çok tercih ettiği kentler sıralamasında ilk sırada Ankara, İstanbul, İzmir geliyor. Onu Eskişehir, Bursa, Antalya, Kayseri, Gaziantep ve Çanakkale izliyor.
                            <br />
                            <hr />
                            İSTANBUL HEP GÖZDE
                            En fazla üniversitenin bulunduğu İstanbul, öğrencilerin en çok tercih ettiği kentlerin de başında geliyor. Gerek tarihi ve doğal güzellikleri gerekse de sağladığı iş olanakları İstanbul'u cazibe merkezi haline getiriyor.

                            İstanbul'da üniversite sayısı yeni açılanlarla birlikte 50'ye yaklaştı. Bunların sadece 9'u devlet üniversitesi. Devlet ve vakıf yurtlarının çok olduğu şehirde, her cebe uygun ev bulabilmek mümkün. Üniversite hayali kuran birçok öğrencinin rüyası olan İstanbul, kültürel ve sosyal aktiviteler yönünden de çok zengin. Taksim, Bakırköy, Kadıköy ve Beşiktaş gibi ilçelerde yer alan eğlence ve kültür merkezleriyle dünyanın dinamik şehirlerinden biri olan İstanbul'da öğrencilerin gezip görebileceği pek çok mekan bulunuyor.
                            <br />
                            <hr />
                            İZMİR FARK YARATIYOR
                            Ege Bölgesi'nin en gelişmiş kentlerinden biri olan İzmir'de, üniversite sayısı yeni açılanlarla birlikte 10'a ulaştı. Toplam 102 binden fazla öğrenciye ev sahipliği yapan şehir, çevre kentlerle olan etkileşimi, renkli gece hayatı, rahat yaşam tarzı ve metropol özelliğiyle dikkat çekiyor. Tatil yerlerine yakın olduğu için özellikle yaz aylarında Türkiye'den birçok insanm ziyaret ettiği İzmir'de öğrenci olduğunuz zaman hafta sonu Foça, Urla, Çeşme, Dikili, Didim ve Kuşadası'na gidebilirsiniz. Artık Adnan Menderes Havaalanı'ndan Aliağa kadar giden metroyla birlikte ulaşımın kolay olduğu şehirde, otobüs ve vapur kullanarak, sorunsuz bir yolculuk yapabilirsiniz. Üniversite yurtları ve özel yurtların yaygın olduğu şehirde, ev kiraları da Ankara ve İstanbul'a oranla kısmen daha uygun. rupa kentinde olduğunuz hissi veriyor.

                            Üniversitelere yakın olan bölgelerde ev kiralarının da ucuz olduğu şehirde öğrenciler, gıda ve giyim gibi ihtiyaçlarım makul fiyatlarla karşılayabiliyorlar.
                            <br />
                            <hr />
                            BURSA İLGİ ODAĞI
                            Ekonomik açıdan Türkiye'nin gelişmiş kentlerinden biri olan Bursa, öğrenciler için ideal şehirlerin başında geliyor. Bursa'da Uludağ ve Bursa Teknik üniversiteleri yer alıyor. Gelişmiş sanayi kenti olması ve kentleşme oranının yüksekliğiyle öğrencilerin favori şehri olan Bursa'da yurt fiyatları İstanbul ve Ankara'ya göre daha avantajlı. Şehirde, son yıllarda üniversite yakınlarındaki bölgelerde ev kiralarında yükseliş söz konusu. Hem sakin hem de eğlenceli bir öğrencilik hayatı geçirmek isteyenler için şehirde birçok alternatif bulunuyor. Uludağ bunların başında geliyor.
                            <br />
                            <hr />
                            ANKARA HER YERE YAKIN
                            Cumhuriyet'in kuruluşundan itibaren kamu kurumlarının merkezi olan Ankara'da, Türkiye'nin en köklü üniversiteleri bulunuyor. Bir memur şehri olan Ankara, bu özelliğiyle çok güvenli bir kent. İstanbul'a oranla daha ucuz ve üniversitelere ulaşımın kolay olduğu şehirde, öğrenciler barınma sorunuyla karşılaşmıyor. Türkiye'nin ortasında olması ve hemen hemen bütün illere yakın olması nedeniyle, bütün şehirlere ulaşımı kolay. Bunlara ek olarak şehrin havasının soğuk ve çok renkli bir hayatının olmaması dezavantajları arasında görülebilir. Özellikle aileler açısından en güvenli kentlerin başında geliyor.
                            <br />
                            <hr />
                            ÜNİVERSİTE ŞEHRİ ESKİŞEHİR
                            Orta Anadolu'da yolların ve kültürlerin kesiştiği bir merkez olan Eskişehir, Türkiye'nin sanayi ve üniversite kentlerinin başında geliyor. Belediye Başkanı Yılmaz Büyükerşen'in adeta sihirli değnekle dokunduğu Eskişehir, sosyal aktivite yönünden oldukça zengin, o nedenle öğrencilerin en mutlu şehirleri arasında yer alıyor. Şehrin en büyük simgelerinden olan Porsuk Çayı'nın etrafındaki kafe ve restoranlar, öğrencilerin gündüz ve gece zaman geçirdiği yerlerin başında geliyor.
                            <br />
                            <hr />
                            KAYSERİ'YE GİDEN KALIYOR
                            Kayseri son yıllarda birbiri ardına açılan üniversiteleriyle öğrenci kenti olma yolunda hızla ilerliyor. Kayseri'de Erciyes, Melikşah, Nuh Naci Yazgan üniversiteleri eğitim hayatına devam ederken Abdullah Gül Üniversitesi de bu yıl eğitime başlayacak. Kayseri, sanayi şehri olması itibariyle öğrencilere çok fazla iş ve staj olanağı sunuyor. Belediyecilik anlayışının gelişmiş olduğu şehirde ulaşım otobüs ve tramvayla kolay bir şekilde sağlanıyor. Devlet yurtlarının yanı sıra özel yurt ve pansiyonların bulunduğu şehirde, ev kiraları da oldukça uygun.
                            <br />
                            <hr />
                            GAZİANTEP'DE HER ŞEY VAR
                            Son yıllarda öğrenci sayısını hızla artıran Gaziantep'te, Gaziantep, Hasan Kalyoncu ve Zirve olmak üzere 3 üniversite bulunuyor. Canlı ve sosyal bir yaşama sahip olan şehir, aynı zamanda sanayi şehri olarak da öne çıkıyor. Ulusal ve uluslararası pek çok kuruluşun merkezi olan Gaziantep'te öğrenciler daha üniversitedeyken şirketlerde staj ve iş olanağı yakalayabiliyorlar. Gelişmiş bir şehir olan Gaziantep'te modern alışveriş merkezleri, sinema, tiyatro salonları, eğlence merkezleri bulunuyor. Yine özel ve devlet yurtlarının yanı sıra şehirde ucuz kiralık ev gibi alternatiflerle öğrencilerin barınma sorunu bulunmuyor.
                            <br />
                            <hr />
                            ÇANAKKALE ONLARI SEVİYOR
                            Çanakkale, modern ve küçük bir şehir olmasının yanı sıra sosyal ve kültürel aktiviteler açısından cazibe merkezi. Çanakkale 18 Mart Üniversitesi'nin bulunduğu şehirde, üniversiteliler rahat bir öğrencilik hayatı geçirebilirler. Şehirde ağırlıklı olarak emekli, memur ve askerlere ev sahipliği yapıyor. Öğrencilere güvenli ve özgür bir yaşam sunan Çanakkale, sosyal faaliyetleri yüksek aynı zamanda huzurla yaşanabilecek bir şehir. Her yere ulaşımın belediye otobüsleriyle sağlanıldığı bu şehir Asos, Ayvalık, Bozcaada, Gökçeada gibi tatil yörelerine de çok yakın. Sorunsuz bir öğrencilik yaşamak isteyenlerin tercihlerinde ilk sıralarda yer alan Çanakkale'de, esnaf ve sanayiciler öğrencilere sunduğu burs olanaklarıyla, onların eğitimlerine katkıda bulunuyorlar.
                        </p>
              
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="about-img">
                        <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


