@using SehrimiTani.Entities
@model Barinma
<div class="row">
    <div class="col-md-12">
        <h3>
            @Model.Adres
        </h3>
    </div>
    <div class="col-md-12">
        <hr />
        <div class="col-md-12">
            @Model.ModifiedUsername
            @Model.ModifiedOn

        </div>
    </div>
    <div class="col-md-12">
        <hr />
        <p class="text-justify">
            @Model.Icerik

        </p>
    </div>
</div>
   
